/* ---- EditStyle.css ----- */

/* Dropdown Button */
.dropbtn {
  background-color: #FFFFFF;
  color: black;
  padding: 16px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #FFFFFF;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*Index page middle bar*/
.v1
{
	border-left: 2px solid black;
	height: 500px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 20%;
}
/*search page middle bar*/
.v2
{
	border-left: 2px solid black;
	height: 400px;
	position: absolute;
	left: 55%;
	margin-left: -1px;
	top: 20%;
}
.left
{
	position: absolute;
	right: 55%;
	left: 5%;
	background-color: #fff;
	text-align: center;
}
.leftSearch
{
	position: absolute;
	right: 55%;
	left: 5%;
	background-color: #fff;
	text-align: left;
	overflow: auto;
    max-height: 70vh;
}
.right
{
	position: absolute;
	left: 55%;
	right: 5%;
	background-color: #fff;
	text-align: center;
}

.rightSearch
{
	position: absolute;
	left: 55%;
	right: 5%;
	background-color: #fff;
	text-align: left;
	overflow: auto;
	    max-height: 70vh;
}

.bodySearch input[type=text]
{
	padding: 6px;
	margin-top: 4px;
	font-size: 20px;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
}
/*Results List Stuff*/
#myUL
{
    list-style-type: none;
	text-decoration: none;
    padding: 0;
    margin: 0;
}

#myUL li a
{
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #FFF;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;

}

#myUL li a:hover:not(.header)
{
    background-color: #eee;
}

.title
{
    align-self: self-start;
    text-align: left;
}

.desc
{
    font-size: 16px;
    width: 60%;
    text-align: left;
    margin-left: 5px;

}

.desc2
{
	font-size: 16px;
	width: 60%;
	text-align: left;
	margin-left: 5px;

}

.further
{
    font-size:14px;
    width: 60%;
    text-align: left;
    margin-left: 5px;
}
.cat
{
    box-sizing: border-box;
    font-size: 16px;
    /*border: 1px;
    border-color: black;
    background-color: #ddd;
    border-style: solid;*/
    min-width: 160px;
    margin-bottom: 5px;
}

.type
{
    box-sizing: border-box;
    font-size: 16px;
    /*border: 1px;
    border-color: black;
    background-color: #ddd;
    border-style: solid;*/
    min-width: 160px;
    margin-top: 5px;
}
.resultLeft
{
    /*float: left; */
    max-width: 70%;
}

.resultRight
{
    float: right;
    position: relative;
	text-decoration: none;
    width: 25%;
    top: 25px;
    right: 10px;
}

.wholeResult
{
    border: 2px solid black;
    overflow: hidden;
    max-height: 140px;
	text-decoration: none;
}

/*When less than 600 px, stack links and search field */
@media only screen and (max-width: 600px)
{
	.topnav .search-container
	{
		float:none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button
	{
		float:none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.topnav input[type=text]
	{
		border: 1px solid #ccc;
	}
}

/* ----- End ----- */