/* ----- main.css ----- */
/*overall page style */
*
{
	box-sizing: border-box;
}

body
{
	margin: 1px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

/* Add a grey bg to top nav - overall top nav element */
.topnav
{
	overflow: hidden;
	background-color: #eeeeee;
	margin: 0;

}

/*Style the links inside the navigation bar*/
.topnav a
{
	float:left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	font-size: 20px;
}

/* Change the color of links on hover*/
.topnav a:hover {
	background-color: #ccc;
	color: black;
}

.user {
	text-align: right;
	vertical-align: middle;
	font-size: 20px;
	padding-top: 14px;
	padding-left: 18px;
	padding-right: 18px;

}

/* Left side of Window - large container to hold smaller ones */
.left {
	position: absolute;
	right: 55%;
	left: 5%;
	background-color: #fff;
	text-align: center;
}

/*Left side of search results page.  Note the overflow option. */
.leftSearch {
	position: absolute;
	right: 55%;
	left: 5%;
	background-color: #fff;
	text-align: left;
	overflow: auto;
	max-height: 70vh;
}

/* Right side of window - large container to hold smaller ones */

.center {
	position: absolute;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Center side of window - large container to hold smaller ones */

.center {
	position: absolute;
	left: 5%;
	right: 55%;
	background-color: #fff;
	text-align: center;
}

/* Left side of Window - large container to hold smaller ones */
.left {
	position: absolute;
	right: 55%;
	left: 5%;
	background-color: #fff;
	text-align: center;
}

.right {
	position: absolute;
	left: 55%;
	right: 5%;
	background-color: #fff;
	text-align: center;
}

/*Right side of search results page - note the overflow.*/

.rightSearch {
	position: absolute;
	left: 75%;
	right: 5%;
	background-color: #fff;
	margin-left: 5px;
	text-align: left;
	overflow: auto;
	max-height: 70vh;
}

/*Index page middle bar*/
.v1 {
	border-left: 2px solid black;
	height: 500px;
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: 20%;
}

/*search page middle bar*/
.v2 {
	border-left: 2px solid black;
	height: 500px;
	position: absolute;
	left: 50%;
	margin-left: 1px;
	top: 20%;
}

/* Input box formatting for the bodySearch class.  Might need to adjust this name */
.bodySearch input[type=text] {
	padding: 6px;
	margin-top: 4px;
	font-size: 20px;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
}

/* TextArea Style - For Create, Edit, and Forking pages
.descriptionSearchTA textarea {
	padding: 6px;
	margin-left: 550px;
	margin-top: 1px;
	font-size: 20px;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
} */


/*button styling */
.button {
	background-color: #FFFFFF;
	border: groove;
	color: black;
	padding: 20px;
	margin-left: 200px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}

.button:hover {
	background-color: white;
}

/*General results list formatting  - This controls how it builds the little boxes initially */

/*Results List Stuff*/
#myUL {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#myUL li a {
	border: 1px solid #ddd;
	margin-top: -1px;
	background-color: #FFF;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;

}

#myUL li a:hover:not(.header) {
	background-color: #eee;
}

/*Draws box around whole result in list */

.wholeResult {
	border: 2px solid black;
	overflow: hidden;
	max-height: 140px;
	text-decoration: none;
}

/*Dropdown Styling... hopefully.*/
#suggestion-box {
	margin: 0 auto;
	width: 200px;
}

#mitList {
	list-style: none;
	margin-top: -3px;
	padding: 0;
	width: 190px;
	position: absolute;
}

#mitList li {
	padding: 10px;
	background: #f0f0f0;
	border-bottom: #bbb9b9 1px solid;
}

#mitList li:hover {
	background: #ece3d2;
	cursor: pointer;
}


/*When less than 600 px, stack links and search field */
@media only screen and (max-width: 600px) {
	.topnav .search-container {
		float: none;
	}

	.topnav a, .topnav input[type=text], .topnav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}

	.topnav input[type=text] {
		border: 1px solid #ccc;
	}
}


#love {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	bottom: 0px;
	width: 100%;
}

/* ----- End ----- */