/* ----- main.css ----- */

*
{
	box-sizing: border-box;
}

body
{
	margin: 1px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
}

/* Add a grey bg to top nav */
.topnav
{
	overflow: hidden;
	background-color: #eeeeee;
	margin: 0;

}

/*Style the links inside the navigation bar*/
.topnav a
{
	float:left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration:none;
	font-size: 20px;
}

/* Change the color of links on hover*/
.topnav a:hover
{
	background-color: #ccc;
	color: black;
}

/*style the "active" element to highlight the ucrrent page */
.topnav a:active
{
	background-color: #2196F3;
	color: white;
}

/*style the search box*/
.topnav .search-container
{
	float: right;

}
.topnav input[type=text]
{
	padding: 6px;
	margin-top: 8px;
	font-size: 20px;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	border-radius: 20px 20px 20px 20px;
	background-color: white;
}

.topnav .search-container button
{
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 20px;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	cursor: pointer;
	border-radius: 0px 20px 20px 0px;
}

.topnav .search-container button:hover
{
	background: #ccc;
}

.h1 {
  color: navy;
  margin-left: 20px;
}

.i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left
{
	position: absolute;
	right: 55%;
	left: 5%;
	background-color: #fff;
	text-align: center;
}
.right
{
	position: absolute;
	left: 55%;
	right: 5%;
	background-color: #fff;
	text-align: center;
}

.button {
	background-color: #FFFFFF;
	border: groove;
	color: black;
	padding: 20px;
	margin-left: 200px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}
.button:hover {
	background-color: white;
}

/* Button used to open the contact form - fixed at the bottom of the page (Will move this but want to see how it works first */
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #f1f1f1;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

/* ----- End ----- */